/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

:root {
  font-family: 'Roboto', sans-serif;
  --kami-primary: rgb(0, 105, 206);
  --kami-primary-filter: brightness(0%) invert(29%) sepia(99%) saturate(1392%) hue-rotate(190deg) brightness(88%) contrast(109%);;
  --kami-secondary: rgb(89, 160, 241);
  --kami-text: rgb(255, 255, 255);
  --kami-text-secondary: rgba(255, 255, 255, 0.61);
  --kami-background: rgb(35, 39, 42);
  --kami-background-filter: brightness(0%) invert(13%) sepia(7%) saturate(774%) hue-rotate(163deg) brightness(93%) contrast(93%);
  --kami-background-secondary: rgb(74, 80, 85);
  --kami-cancel: #272635;
}

/* define ionic theme base on the root variables */
ion-app {
  --ion-color-primary: var(--kami-primary);
  --ion-color-primary-rgb: 0, 105, 206;
  --ion-color-primary-contrast: var(--kami-text);
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0e4a8d;
  --ion-color-primary-tint: #272635;

  --ion-color-secondary: var(--kami-secondary);
  --ion-color-secondary-rgb: 89, 160, 241;
  --ion-color-secondary-contrast: var(--kami-text);
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #5d58e0;
  --ion-color-secondary-tint: #7974ff;

  --ion-color-tertiary: #6a64ff;
  --ion-color-tertiary-rgb: 106, 100, 255;
  --ion-color-tertiary-contrast: var(--kami-text);
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #5d58e0;
  --ion-color-tertiary-tint: #7974ff;

  --ion-color-success: #2fdf75;
  --ion-color-success-rgb: 47, 223, 117;
  --ion-color-success-contrast: var(--kami-text);
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #29c467;
  --ion-color-success-tint: #44e283;

  --ion-color-warning: #ffd534;
  --ion-color-warning-rgb: 255, 213, 52;
  --ion-color-warning-contrast: var(--kami-text);
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0bb2e;
  --ion-color-warning-tint: #ffd948;

  --ion-color-danger: #ff4961;
  --ion-color-danger-rgb: 255, 73, 97;
  --ion-color-danger-contrast: var(--kami-text);
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e04055;
  --ion-color-danger-tint: #ff5b71;

  --ion-color-dark: var(--kami-background);
  --ion-color-dark-rgb: 35, 39, 42;
  --ion-color-dark-contrast: var(--kami-text);
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #222428;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: var(--kami-background-secondary);
  --ion-color-medium-rgb: 74, 80, 85;
  --ion-color-medium-contrast: var(--kami-text);
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #5a5c60;
  --ion-color-medium-tint: #74777c;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: var(--kami-text);
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-item-background: var(--kami-background);
  --ion-item-background-rgb: 35, 39, 42;
  --ion-item-background-contrast: var(--kami-text);
  --ion-item-background-contrast-rgb: 255, 255, 255;
  --ion-item-background-shade: #222428;
  --ion-item-background-tint: #383a3e;

  --ion-tabbar-background: var(--kami-background);
  --ion-tabbar-background-rgb: 35, 39, 42;
  --ion-tabbar-background-contrast: var(--kami-text);
  --ion-tabbar-background-contrast-rgb: 255, 255, 255;
  --ion-tabbar-background-shade: #222428;
  --ion-tabbar-background-tint: #383a3e;

  --ion-toolbar-background: var(--kami-background);
  --ion-toolbar-background-rgb: 35, 39, 42;
  --ion-toolbar-background-contrast: var(--kami-text);
  --ion-toolbar-background-contrast-rgb: 255, 255, 255;
  --ion-toolbar-background-shade: #222428;
  --ion-toolbar-background-tint: #383a3e;

  --ion-background-color: var(--kami-background);
  --ion-background-color-rgb: 35, 39, 42;
  --ion-background-color-contrast: var(--kami-text);
  --ion-background-color-contrast-rgb: 255, 255, 255;
  --ion-background-color-shade: #222428;
  --ion-background-color-tint: #383a3e;

  --ion-text-color: var(--kami-text);
  --ion-text-color-rgb: 255, 255, 255;
  --ion-text-color-shade: #d7d8da;
  --ion-text-color-tint: #f5f6f9;

  --ion-border-color: var(--kami-background-secondary);
  --ion-border-color-rgb: 74, 80, 85;
  --ion-border-color-contrast: var(--kami-text);
  --ion-border-color-contrast-rgb: 255, 255, 255;
  --ion-border-color-shade: #5a5c60;
  --ion-border-color-tint: #74777c;

  --ion-backdrop-color: var(--kami-background);
  --ion-backdrop-color-rgb: 35, 39, 42;
  --ion-backdrop-color-contrast: var(--kami-text);
  --ion-backdrop-color-contrast-rgb: 255, 255, 255;
  --ion-backdrop-color-shade: #222428;
  --ion-backdrop-color-tint: #383a3e;

  --ion-card-background: var(--kami-background);
  --ion-card-background-rgb: 35, 39, 42;
  --ion-card-background-contrast: var(--kami-text);
  --ion-card-background-contrast-rgb: 255, 255, 255;
  --ion-card-background-shade: #222428;
  --ion-card-background-tint: #383a3e;
}

/* 
@media (prefers-color-scheme: dark) {
  body {
    --ion-color-primary: #428cff;
    --ion-color-primary-rgb: 66, 140, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3a7be0;
    --ion-color-primary-tint: #5598ff;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80, 200, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106, 100, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47, 223, 117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255, 213, 52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255, 73, 97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0, 0, 0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
} 
*/